.img-logo {
    max-height: 100%;
    height: 50px;
}

.buttonHeader:hover {
    color: #DB1144;
}

/* .buttonHeader{
} */

.buttonHeader:active {
    /* color: #FFF; */
    padding-top: 1px;
}

.appBar {
    height: 60px;
}